<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
    {% load static %} 
        <script src="{% static 'webapp/js/helper.js' %}"></script>
           
</head>
<html>
    <form action="">
        <label for="journal_name">Journal Name:</label><br>
        <input type="text" id="journal_name" name="journal_name" value=""><br>
        <label for="website_addr">Website Address:</label><br>
        <input type="text" id="website_addr" name="website_addr" value=""><br>
        <label for="login_id">Login ID:</label><br>
        <input type="text" id="login_id" name="login_id" value=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value=""><br>
        <label for="ac_no">Account Number:</label><br>
        <input type="text" id="ac_no" name="ac_no" value=""><br>
        <label for="notes">Notes:</label><br>
        <input type="text" id="notes" name="notes" value=""><br><br>

        
        
        <input type="submit" value="Submit">
      </form>
</html>