<html>
    <head>
            <h2 style="font-family: sans-serif;">Edit Journal</h2>
    </head>
    <body>
        <div style="padding-bottom: 20px; padding-top: 25px; width: 500px;padding-left: 15px;">
            <div style="width: 500px;">
            <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Journal:</label>
            <select style="float:right; width: 200px;height:30px; border-radius: 2px;" id="directory" name="directory">
<option>AAAS</option>
<option>Harvard Business Review</option>
<option>Wired</option>
<option>Health Affairs</option>
<option>JAMA</option>
<option>NEJM Catalyst</option>
<option>Lancet Infectious Disease</option>
<option>Lancet Oncology</option>
<option>Pharma Intelligence</option>
<option>Nature Reviews Cancer</option>
<option>Nautilus</option>
<option>Nature Reviews Microbiology</option>
<option>Bulletin</option>
<option>The Economist</option>
<option>MIT Review</option>
<option>NEJM</option>
<option>Nature Genetics</option>
<option>Nature</option>
<option>C&EN/ACS</option>
<option>Nature Reviews Genetics</option>
<option>Inside Philosophy </option>
<option>BioCentury</option>
<option>Council on Foreign Relations</option>
<option>IEEE</option>
<option>American Society for Microbiology</option>
<option>For the Record</option>
<option>American Scientist</option>
<option>CELL Press</option>
<option>New Scientist</option>
              </select>
              <br>
            </div>
            <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">  Account Number:</label>
                
                <input type="text" style="float:right; width:200px;height: 30px;">
            </div>
            <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory"> Date Renewed:</label>
                <input type="date" style="float:right; width:200px;height: 30px;">
            </div>
            <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Date Due:</label>
                <input type="date" style=" float:right;width:200px;height: 30px;">
            </div>	
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Total:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Format:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Renewal Type:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Purchase Type:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>

              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">PO Number:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">

              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Month:</label>  
                <input type="text" style="float:right;width:200px;height: 30px;">

              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Year:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory"> Date(MMYY):</label>
                <input type="date" style="float:right;width:200px;height: 30px;">
              </div>
              <div style="padding-top:30px;width: 500px;">
                <label style="font-family: sans-serif; font-size: 15px;margin-right: 101px;"  for="directory">Workday:</label>
                <input type="text" style="float:right;width:200px;height: 30px;">
              </div>
                 <div style="padding-top:30px;padding-left: 200px; width: 250px;">
                    <input id='journals_subscription' onclick="showJournals()" style="width: 150px;
                  height: 32px;
                  float:right;
                  background: #51BF95;
                  color: white;
                  border-radius: 3px;
                  border: 0px;
                  cursor: pointer;
                  font-weight: bold;
                  font-size: 15px;" type="submit" value="Save">
                 </div>     								 
        </div>    
    </body>
</html>