<div class="float-child"> <a class="anchor_class" href='logEntry' >Log Entry</a></div>
    <div class="float-child"><a class="anchor_class" href='findEntry'>Find Entry</a></div>
     <div class="float-child"><a class="anchor_class" href='subscriptions'>Subscriptions</a></div>
     <div class="float-child"><a class="anchor_class" href='JournalDBase'>Mail Log</a></div>
     <div class="float-child"><a class="anchor_class" href='preferences'>Preferences</a></div>
     <div class="float-child"><a class="anchor_class" href='eventHistory' >Event History</a></div>
     <div class="float-child"><a class="anchor_class" href='eventHistory' >Inventory</a></div>
